
 <%= error_messages_for(@section) %>

<table>
		<tr>
			<th>Page:</th>
			<td><%= f.select(:page_id, @pages.collect {|p| [p.name, p.id]}) %></td>
		</tr>
		<tr>
			<th>Section Name:</th>
			<td><%= f.text_field(:name) %></td>
		</tr>
		<tr>
			<th>Position:</th>
			<td><%= f.select(:position, 1..@section_count) %></td>
		</tr>
		<tr>
			<th>Visible:</th>
			<td><%= f.check_box(:visible) %></td>
		</tr>
		<tr>
			<th>Content Type:</th>
			<td><%= f.select(:content_type, ['text', 'html']) %> </td>
					
		</tr>
		<tr>
			<th>Content:</th>
			<td><%= f.text_area(:content, :size => '40x10') %></td>	
		</tr>	
	
	</table>