<h2>Delete Admin User</h2>

<p>Are you sure you want to delete this user?</p>

	<%= form_for(:admin_user, :url => {:action => 'destroy', :id => @admin_user.id}) do |f| %>
	<%= f.first_name %>
	<%= f.last_name %>
	<%= f.username %>
	
	<%= submit_tag "Destroy User" %>

<% end %>