<% @page_title = "Admin Users List" %>

<h2>Admin Users</h2>


<%= link_to "Create New", :action => 'new' %>

<div>
	<table>
		
		<tr>
			<th>Last Name</th>
			<th>First Name</th>			
			<th>User Name</th>
			<th>Email</th>
			<th>Actions</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		
		<% @admin_users.each do |admin_user| %>
			<tr>
				<td><%= admin_user.last_name %></td>			
				<td><%= admin_user.first_name %></td>				
				<td><%= admin_user.username %></td>
				<td><%= admin_user.email %></td>
				<td><%= link_to "edit", :action => 'edit', :id => admin_user.id %></td>
				<td><%= link_to "delete", :action => 'delete' %></td>				
									
			</tr>
		<% end %>
	</table>
	
</div>
